/**************** All Pages *******************/

body, html {
  margin: 0;
  padding: 0;
}

.galleryimage {
    max-width: 500px;
    max-height: 500px;
    flex: 0 0 calc(10% - 10px); 
  margin-bottom: 20px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .images {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav-bar {
    padding: 30px 0;
    text-align: right;
    text-decoration: none;
  }

  .nav-bar a {
    font-size: 20px;
    text-decoration: none;
    color: #333; 
  }
  
  li{
    display: inline-block;
    padding: 0 10px 0 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 30px;
  }

  .YPphotos {
    max-width: 500px;
    max-height: 500px;
  }

  .contact {
    height: 80px;
    /* background-color: rgba(252, 232, 207, 0.249); */
    padding: 50px 0;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
  }

  .contact p {
    margin: 8px 0;
  }

  footer {
    text-align: center;
  }

  /************** index.html ****************/
  
  header {
    height: 80px;
    /* background-color: rgba(252, 232, 207, 0.249); */
    padding: 20px 0;
  }
  
  #homeimg1 {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    position: relative;
  }
  #homeintro {
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 30px;
  }

  #homeintro span {
    font-weight: bold;
    font-size: 50px;
  }

  #homemid {
    height: 500px;
    background-color: rgba(217, 213, 213, 0.451);
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }

  #homemid p {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }

  #selfintro {
    background-color: rgba(217, 213, 213, 0.451);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
  }

  #homeimg2{
    max-width: 35%;
    height: auto;

  }

  #selfintro p {
    font-size: 40px;
    max-width: 55%;
    margin-right: 50px;
  }
  #displayphotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.hpimg {
    width: 23%; 
    margin-bottom: 10px; 
}

button {
  padding: 8px 8px;
  font-size: 14px;
}

input {
  padding: 8px;
  width:200px;
  font-size: 18px;
}


/********** yourphotos.html ************/

#YPmain {
   background-color: rgba(252, 232, 207, 0.249);
   height: 800px;
}